/*VARIAVEIS*/
:root {
    --vermelho: #E50914;
    --preta: #141414;

}

/*RESET DO CSS (NAVEGADORES TEM INTERPRETAÇÕES DIFERENTES, ASSIM FICA TUDO COMUM EM TODOS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*NAO ULTRAPASSA A BORDA DEFINIDA*/
}

body {
    background: var(--preta);
    font-family: 'Geneva', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/*AJUSTES DO MENU DE CIMA*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/*QUANDO O MOUSE PASSA EM CIMA TROCA DE COR*/
header nav a:hover {
    color: #fff;
}

/*FILME PRINCIPAL*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0, 0, 0, 0.5)100%), url('/img/whiplash-fundo.jpg'); /*A IMAGEM FICA COM UMA VINHETA*/

    height: 400px;
    background-size: cover; /*IMAGEM FICA COM O TAMANHO DO ESPACO OCUPADO PELA CLASSE*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .container {
    margin-left: 10px;
}

.filme-principal .descricao-filme-principal {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 70%;
    text-align: justify;
}

.filme-principal .titulo-filme-principal {
    font-size: 40px;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    color: #AAA;
    border: none;
    border-radius: 15px;

    cursor: pointer;

    padding: 15px 30px;
    margin-right: 12px;

    transition: .4s ease all;
}

.botao:hover {
    color: black;
    background-color: white;
}

.botao i{
    margin-right: 9px;
}